<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> About </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">About</ion-title>
        </ion-toolbar>
    </ion-header>
    <div>
        <div>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>How to Play</ion-card-subtitle>
                    <ion-card-title>Guess the Number</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    We will generate random number for you from
                    <strong style="color: black">1-10</strong>, you just need to guess it. Please put your number and click submit. Goodluck!
                </ion-card-content>

                <div>
                    <ion-button fill="clear" id="random-button" (click)="numbergenerator()">
                        Generate number
                    </ion-button>
                </div>
            </ion-card>
        </div>
    </div>
    <div id="input-field">
        <div id="input-number-tab-2">
            <ion-item class="ion-no-padding">
                <ion-input type="number" placeholder="Enter number: " [(ngModel)]="guess"></ion-input>
            </ion-item>
        </div>
        <div>
            <ion-button fill="clear" id="guess-button" (click)="iscorrect()">
                Submit
            </ion-button>
        </div>
        <div style="margin-top: 40px">
            <ion-label>Result:</ion-label>
        </div>
    </div>
    <div>
        <ng-template *ngIf="correct; then trueanswer; else falseanswer"></ng-template>
    </div>
    <ng-template #falseanswer>
        <div id="false-answer">
            <ion-label> {{message}} </ion-label>
        </div>
    </ng-template>
    <ng-template #trueanswer>
        <div id="correct-answer">
            <ion-label> Congratulations your answer is correct! </ion-label>
            <ion-img id="fotobenar" src="../assets/check2.png">
                <!-- <img src="../assets/check.png" height="100px" width="100px" /> -->
            </ion-img>
            <!-- <span id="fotobenar"></span> -->
        </div>
        <div>
            <!-- <ion-img [src]="isiFoto.webviewPath"></ion-img> -->
        </div>
    </ng-template>
</ion-content>